/* ===== Reset ===== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}


/* ===== Fonts ===== */

& {
    font-family: $font_family;
    font-size: $font_size;
}


/* ===== Headings ===== */

h1,
h2,
h3 {
    font-weight: normal;
    margin-bottom: .4em;
}

h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: .3em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}


/* ===== Paragraph ===== */

p {
    line-height: 1.6;
}


/* ===== Form ===== */

input,
textarea {
    font-size: $font_size;
    font-family: $font_family;
    margin-bottom: 2em;
}
